git+https://github.com/huggingface/diffusers.git



transformers
accelerate
safetensors
sentencepiece
dashscope
kernels
# torchvision # Bloqueado por SpaceCloner (Protección CUDA Drivers)
peft
torchao==0.11.0
# torch==2.8 # Bloqueado por SpaceCloner (Protección CUDA Drivers)

# Patched by SpaceCloner v12.1