# git+https://github.com/huggingface/diffusers.git # Desactivado por SpaceCloner (Prevención de Conflictos)



# transformers # Desactivado por SpaceCloner (Prevención de Conflictos)
# accelerate # Desactivado por SpaceCloner (Prevención de Conflictos)
safetensors
sentencepiece
dashscope
kernels
# torchvision # Desactivado por SpaceCloner (Prevención de Conflictos)
# peft # Desactivado por SpaceCloner (Prevención de Conflictos)
# torchao==0.11.0 # Desactivado por SpaceCloner (Prevención de Conflictos)
# torch==2.8 # Desactivado por SpaceCloner (Prevención de Conflictos)