git+https://github.com/huggingface/diffusers.git



transformers
accelerate
safetensors
sentencepiece
dashscope
kernels
# torchvision # Bloqueado (Protección Core v14.0)
peft
torchao==0.11.0
# torch==2.8 # Bloqueado (Protección Core v14.0)